/* From Uiverse.io by alexruix */ 
.card {
    border: 3px solid #c3c6ce;
    border-radius: 10px;
    transition: 0.5s ease-out;
    overflow: visible;
    font-family: 'League Spartan', sans-serif;
   }
   
   .card-details {
    color: rgb(0, 0, 0);
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #fdd512;
    color: #000000;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(255, 255, 255);
    font: bold;
    justify-content: center;
    font-size: 19px;
   }
   
   /*Text*/
   .text-title {
    font-size: 2.2rem;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #fdd512;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }