@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  overflow-x: hidden;
}
@theme{
  --font-display: "League Spartan","sans-serif";

}
@layer utilities {
  .text-stroke {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#fdd512;
  }
}

.header-title{
  @apply hover:text-amber-100 hover:underline decoration-2 decoration-amber-300 underline-offset-8
}


.title-footer{
 @apply text-6xl font-display mb-10
}

.form-input{
  @apply w-full py-3 px-2 bg-transparent outline-none border-0 border-b-2 border-[#bebed2] focus:border-[#78788c] transition-all duration-300
}